In [ ]:
import pandas as pd
import numpy as np
import os
import re
from datetime import datetime
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 200)

In [ ]:
# Définir le chemin du fichier (modifiez si nécessaire)
candidates = ['track_data_final.csv', 'spotify_data clean.csv', 'spotify_data_clean.csv']
DATA_PATH = next((p for p in candidates if os.path.exists(p)), None)
if DATA_PATH is None:
    raise FileNotFoundError(f"Aucun des fichiers attendus trouvés : {candidates}")
print('Chargement de :', DATA_PATH)
df = pd.read_csv(DATA_PATH, low_memory=False)
df.head()

                 track_id                           track_name  track_number  \
0  6pymOcrCnMuCWdgGVTvUgP                                    3            57
1  2lWc1iJlz2NVcStV5fbtPG                               Clouds             1
2  1msEuwSBneBKpVCZQcFTsU  Forever & Always (Taylor’s Version)            11
3  7bcy34fBT2ap1L4bfPsl9q            I Didn't Change My Number             2
4  0GLfodYacy3BJE7AI3A8en                             Man Down             7

   track_popularity  track_duration_ms  explicit     artist_name  \
0                61             213173     False  Britney Spears
1                67             158760     False           BUNT.
2                63             225328     False    Taylor Swift
3                72             158463      True   Billie Eilish
4                57             267013     False         Rihanna

   artist_popularity  artist_followers      artist_genres  \
0               80.0        17755451.0            ['pop']
1               69.0          293734.0  ['stutter house']
2              100.0       145396321.0                 []
3               90.0       118692183.0                 []
4               90.0        68997177.0                 []

                 album_id                   album_name album_release_date  \
0  325wcm5wMnlfjmKZ8PXIIn       The Singles Collection         2009-11-09
1  2ArRQNLxf9t0O0gvmG5Vsj                       Clouds         2023-01-13
2  4hDok0OAJd57SGIT8xuWJH  Fearless (Taylor's Version)         2021-04-09
3  0JGOiO34nwfUdDrD612dOp            Happier Than Ever         2021-07-30
4  5QG3tjE5L9F6O2vCAPph38                         Loud         2010-01-01

   album_total_tracks   album_type
0                  58  compilation
1                   1       single
2                  26        album
3                  16        album
4                  13        album
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8778 entries, 0 to 8777
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   track_id            8778 non-null   object
 1   track_name          8776 non-null   object
 2   track_number        8778 non-null   int64
 3   track_popularity    8778 non-null   int64
 4   track_duration_ms   8778 non-null   int64
 5   explicit            8778 non-null   bool
 6   artist_name         8774 non-null   object
 7   artist_popularity   8774 non-null   float64
 8   artist_followers    8774 non-null   float64
 9   artist_genres       8774 non-null   object
 10  album_id            8778 non-null   object
 11  album_name          8776 non-null   object
 12  album_release_date  8778 non-null   object
 13  album_total_tracks  8778 non-null   int64
 14  album_type          8778 non-null   object
dtypes: bool(1), float64(2), int64(4), object(8)
memory usage: 968.8+ KB
None
track_id              0
track_name            2
track_number          0
track_popularity      0
track_duration_ms     0
explicit              0
artist_name           4
artist_popularity     4
artist_followers      4
artist_genres         4
album_id              0
album_name            2
album_release_date    0
album_total_tracks    0
album_type            0
dtype: int64
       track_number  track_popularity  track_duration_ms  artist_popularity  \
count   8778.000000       8778.000000        8778.000000        8774.000000
mean       5.749487         52.232855      210157.791866          69.954981
std        6.017938         24.075221       63326.841454          19.532783
min        1.000000          0.000000           0.000000           0.000000
25%        1.000000         39.000000      173921.250000          60.000000
50%        4.000000         58.000000      207276.000000          74.000000
75%        9.000000         71.000000      239693.250000          84.000000
max      102.000000        100.000000      811077.000000         100.000000

       artist_followers  album_total_tracks
count      8.774000e+03         8778.000000
mean       2.435487e+07           13.779790
std        3.813769e+07           11.797943
min        0.000000e+00            1.000000
25%        5.152768e+05            6.000000
50%        6.272266e+06           13.000000
75%        3.055055e+07           17.000000
max        1.455421e+08          181.000000

In [3]:
dm=pd.read_csv('spotify_data_clean.csv')
print(dm.head())
print(dm.info())
print(dm.isnull().sum())
print(dm.describe())

                 track_id                                       track_name  \
0  3EJS5LyekDim1Tf5rBFmZl                    Trippy Mane (ft. Project Pat)
1  1oQW6G2ZiwMuHqlPpP27DB                                             OMG!
2  7mdkjzoIYlf1rx9EtBpGmU                                      Hard 2 Find
3  67rW0Zl7oB3qEpD5YWWE5w  Still Get Like That (ft. Project Pat & Starrah)
4  15xptTfRBrjsppW0INUZjf                            ride me like a harley

   track_number  track_popularity  explicit artist_name  artist_popularity  \
0             4                 0      True       Diplo                 77
1             1                 0      True    Yelawolf                 64
2             1                 4      True   Riff Raff                 48
3             8                30      True       Diplo                 77
4             2                 0      True     Rumelis                 48

   artist_followers                      artist_genres  \
0           2812821                         moombahton
1           2363438  country hip hop, southern hip hop
2            193302                                NaN
3           2813710                         moombahton
4              8682                           dark r&b

                 album_id                           album_name  \
0  5QRFnGnBeMGePBKF2xTz5z                   d00mscrvll, Vol. 1
1  4SUmmwnv0xTjRcLdjczGg2                                 OMG!
2  3E3zEAL8gUYWaLYB9L7gbp                          Hard 2 Find
3  5QRFnGnBeMGePBKF2xTz5z                   d00mscrvll, Vol. 1
4  06FDIpSHYmZAZoyuYtc7kd  come closer / ride me like a harley

  album_release_date  album_total_tracks album_type  track_duration_min
0         2025-10-31                   9      album                1.55
1         2025-10-31                   1     single                3.07
2         2025-10-31                   1     single                2.55
3         2025-10-31                   9      album                1.69
4         2025-10-30                   2     single                2.39
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8582 entries, 0 to 8581
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   track_id            8582 non-null   object
 1   track_name          8582 non-null   object
 2   track_number        8582 non-null   int64
 3   track_popularity    8582 non-null   int64
 4   explicit            8582 non-null   bool
 5   artist_name         8579 non-null   object
 6   artist_popularity   8582 non-null   int64
 7   artist_followers    8582 non-null   int64
 8   artist_genres       5221 non-null   object
 9   album_id            8582 non-null   object
 10  album_name          8582 non-null   object
 11  album_release_date  8582 non-null   object
 12  album_total_tracks  8582 non-null   int64
 13  album_type          8582 non-null   object
 14  track_duration_min  8582 non-null   float64
dtypes: bool(1), float64(1), int64(5), object(8)
memory usage: 947.2+ KB
None
track_id                 0
track_name               0
track_number             0
track_popularity         0
explicit                 0
artist_name              3
artist_popularity        0
artist_followers         0
artist_genres         3361
album_id                 0
album_name               0
album_release_date       0
album_total_tracks       0
album_type               0
track_duration_min       0
dtype: int64
       track_number  track_popularity  artist_popularity  artist_followers  \
count   8582.000000       8582.000000        8582.000000      8.582000e+03
mean       5.772547         52.356211          69.730016      2.403472e+07
std        6.052792         23.816076          19.645979      3.803180e+07
min        1.000000          0.000000           0.000000      0.000000e+00
25%        1.000000         39.000000          60.000000      4.623200e+05
50%        4.000000         58.000000          74.000000      6.105547e+06
75%        9.000000         71.000000          84.000000      2.725255e+07
max      102.000000         99.000000         100.000000      1.455421e+08

       album_total_tracks  track_duration_min
count         8582.000000         8582.000000
mean            13.789443            3.492805
std             11.887131            1.057970
min              1.000000            0.070000
25%              6.000000            2.880000
50%             13.000000            3.445000
75%             17.000000            3.990000
max            181.000000           13.510000

# Exploration et nettoyage des données
Ce notebook effectue : exploration (colonnes, shape, dtypes, valeurs manquantes) et nettoyage (doublons, valeurs NULL, conversions de types, suppression de caractères spéciaux).

In [4]:
# Exploration rapide
print('Colonnes disponibles :')
print(list(df.columns))
print('\nNombre de lignes, colonnes :', df.shape)
print('\nTypes de données :')
print(df.dtypes)
print('\nRésumé info() :')
print(df.info())
# Valeurs manquantes
missing = df.isnull().sum().sort_values(ascending=False)
missing_percent = (missing / len(df) * 100).round(2)
pd.DataFrame({'missing_count': missing, 'missing_percent': missing_percent}).head(30)

Colonnes disponibles :
['track_id', 'track_name', 'track_number', 'track_popularity', 'track_duration_ms', 'explicit', 'artist_name', 'artist_popularity', 'artist_followers', 'artist_genres', 'album_id', 'album_name', 'album_release_date', 'album_total_tracks', 'album_type']

Nombre de lignes, colonnes : (8778, 15)

Types de données :
track_id               object
track_name             object
track_number            int64
track_popularity        int64
track_duration_ms       int64
explicit                 bool
artist_name            object
artist_popularity     float64
artist_followers      float64
artist_genres          object
album_id               object
album_name             object
album_release_date     object
album_total_tracks      int64
album_type             object
dtype: object

Résumé info() :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8778 entries, 0 to 8777
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   track_id            8778 non-null   object
 1   track_name          8776 non-null   object
 2   track_number        8778 non-null   int64
 3   track_popularity    8778 non-null   int64
 4   track_duration_ms   8778 non-null   int64
 5   explicit            8778 non-null   bool
 6   artist_name         8774 non-null   object
 7   artist_popularity   8774 non-null   float64
 8   artist_followers    8774 non-null   float64
 9   artist_genres       8774 non-null   object
 10  album_id            8778 non-null   object
 11  album_name          8776 non-null   object
 12  album_release_date  8778 non-null   object
 13  album_total_tracks  8778 non-null   int64
 14  album_type          8778 non-null   object
dtypes: bool(1), float64(2), int64(4), object(8)
memory usage: 968.8+ KB
None

                    missing_count  missing_percent
artist_name                     4             0.05
artist_followers                4             0.05
artist_popularity               4             0.05
artist_genres                   4             0.05
album_name                      2             0.02
track_name                      2             0.02
track_id                        0             0.00
explicit                        0             0.00
track_duration_ms               0             0.00
track_popularity                0             0.00
track_number                    0             0.00
album_id                        0             0.00
album_release_date              0             0.00
album_total_tracks              0             0.00
album_type                      0             0.00

In [5]:
# 1) Supprimer les doublons
# Si les colonnes 'artist' et 'title' existent, utiliser comme subset sinon supprimer lignes entièrement dupliquées
dup_subset = None
if set(['artist','title']).issubset(df.columns):
    dup_subset = ['artist','title']
before = len(df)
if dup_subset:
    df = df.drop_duplicates(subset=dup_subset)
else:
    df = df.drop_duplicates()
after = len(df)
print(f'Doublons supprimés : {before - after}')
df.shape

Doublons supprimés : 0

(8778, 15)

In [6]:
# 2) Gérer les valeurs NULL - options : suppression ou imputation simple
# Par défaut : supprimer les lignes si les colonnes clefs manquent (artist/title) sinon garder
key_cols = [c for c in ['artist','title'] if c in df.columns]
if key_cols:
    before = len(df)
    df = df.dropna(subset=key_cols)
    print('Lignes supprimées pour valeurs NULL sur', key_cols, ':', before - len(df))
# Pour d'autres colonnes numériques, on peut imputer par la médiane si souhaité
numeric_cols = df.select_dtypes(include=['number']).columns.tolist()
for col in numeric_cols:
    if df[col].isnull().any():
        med = df[col].median()
        df[col] = df[col].fillna(med)
        print(f"Imputation médiane pour {col}: {med}")

Imputation médiane pour artist_popularity: 74.0
Imputation médiane pour artist_followers: 6272266.5

In [7]:
# 3) Convertir les types (exemples courants)
# Convertir 'year' en entier si présent
if 'year' in df.columns:
    df['year'] = pd.to_numeric(df['year'], errors='coerce').astype('Int64')
    print('Converted year -> Int64')
# Convertir 'popularity' en numérique
if 'popularity' in df.columns:
    df['popularity'] = pd.to_numeric(df['popularity'], errors='coerce').fillna(0).astype(int)
    print('Converted popularity -> int')
# Convertir une colonne date courante si nommée 'release_date' ou similaire
date_candidates = [c for c in df.columns if 'date' in c.lower()]
for dc in date_candidates:
    df[dc] = pd.to_datetime(df[dc], errors='coerce')
    print(f'Converted {dc} -> datetime')
# Convertir durée (si en ms) vers secondes si colonne 'duration_ms' existe
if 'duration_ms' in df.columns:
    df['duration_sec'] = pd.to_numeric(df['duration_ms'], errors='coerce')/1000.0
    print('Ajout duration_sec à partir de duration_ms')
df.dtypes

Converted album_release_date -> datetime

track_id                      object
track_name                    object
track_number                   int64
track_popularity               int64
track_duration_ms              int64
explicit                        bool
artist_name                   object
artist_popularity            float64
artist_followers             float64
artist_genres                 object
album_id                      object
album_name                    object
album_release_date    datetime64[ns]
album_total_tracks             int64
album_type                    object
dtype: object